<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.iitp.anwesha" >
    <permission android:name="in.ac.iitp.anwesha.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"></permission>
    <uses-permission android:name="in.ac.iitp.anwesha.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" >
    </uses-feature>

    <application
        android:name=".AllIDS"
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name=".WelcomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:screenOrientation="portrait"
            android:name=".Event" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Sponser"
            android:label="@string/title_activity_sponser"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".EventDetails"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".EventList"
            android:label="@string/title_activity_event_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <receiver android:name=".Reminder" />

        <activity
            android:screenOrientation="portrait"
            android:name=".TechnicalEvent"
            android:label="@string/title_activity_technical_event"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Team"
            android:label="@string/title_activity_team"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Gallery" >
        </activity>
        <activity
            android:name=".ProNites"
            android:label="@string/title_activity_pro_nites"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Map"
            android:label="Map"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <provider
            android:name="LocationsContentProvider"
            android:authorities="in.ac.iitp.anwesha.locations"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.version"

            android:value="@integer/google_play_services_version"/>﻿
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD_BXVeJMxStymgwMS6lqbssPx0vwtIJeE"/>
        <service android:name=".BackgroundFetch"
            />
    </application>


</manifest>
